In [2]:
import pandas as pd

In [3]:
movies =pd.read_csv(r'C:\Users\ds208\OneDrive\Desktop\ML\Day 10\Book1.csv')

In [4]:
movies

,ID,Name,Industry,Genre,Language,Duration,Rating
0,1,Baahubali,Tollywood,Action,Telgu,170,9.5
1,2,Brahmastra,Bollywood,Mystereous,Hindi,180,5.0
2,3,Uri- The Surgical Strike,Bollywood,Action,Hindi,120,10.0
3,4,DDLJ,Bollywood,Romantic,Hindi,150,10.0
4,5,Avenger - EndGame,Hollywood,Action,English,180,9.0
5,6,Tenet,Hollywood,SciFi,English,150,8.5
6,7,Major,Bollywood,Action,Hindi,140,8.0
7,8,Intersteller,Hollywood,SciFi,English,190,7.0
8,9,Gravity,Hollywood,SciFi,English,130,6.0
9,10,Titanic,Hollywood,Drama,English,180,9.0
10,11,Yeh Jawani Hai Deewani,Bollywood,Romantic,Hindi,150,5.0
11,12,Houseful,Bollywood,Comedy,Hindi,150,6.0
12,13,The Dictator,Hollywood,Comedy,English,120,7.0
13,14,Hera Pheri,Bollywood,Comedy,Hindi,140,9.0
14,15,Sholay,Bollywood,Drama,Hindi,150,8.5

In [5]:
movies['Name'][movies['Duration'].argmax()]

'Intersteller'

* Q2. Find the movies with 10 stars rating

In [6]:
sum(movies['Rating']==10)

2

* Q3. How many industries are there?

In [7]:
movies['Industry'].value_counts().count()

4

In [8]:
len(movies['Industry'].value_counts())

4

In [9]:
movies['Industry'].nunique()

4

* Q4. Find the least liked comedy movie name?

In [10]:
movies['Name'][movies[movies['Genre'] == 'Comedy']['Rating'].idxmin()]

'Houseful'

* Q5. Longest English movie?

In [11]:
movies['Name'][movies[movies['Language'] == 'English']['Duration'].idxmax()]

'Intersteller'

* Q6. What is Genre of Intesteller movie?

In [15]:
names=movies['Name']

In [16]:
names.to_list()

['Baahubali',
 'Brahmastra',
 'Uri- The Surgical Strike',
 'DDLJ',
 'Avenger - EndGame',
 'Tenet',
 'Major',
 'Intersteller',
 'Gravity',
 'Titanic',
 'Yeh Jawani Hai Deewani',
 'Houseful',
 'The Dictator',
 'Hera Pheri',
 'Sholay']

In [14]:
movies['Genre'][movies['Name'].str.lower()=='intersteller'].values[0]

'SciFi'

In [17]:
names.str.find('e')

0    -1
1    -1
2     7
3    -1
4     2
5     1
6    -1
7     3
8    -1
9    -1
10    1
11    4
12    2
13    1
14   -1
Name: Name, dtype: int64

In [19]:
names.str.get(-1)

0     i
1     a
2     e
3     J
4     e
5     t
6     r
7     r
8     y
9     c
10    i
11    l
12    r
13    i
14    y
Name: Name, dtype: object

In [21]:
movies['Genre'].str.get_dummies()

    Action  Comedy  Drama  Mystereous  Romantic  SciFi
0        1       0      0           0         0      0
1        0       0      0           1         0      0
2        1       0      0           0         0      0
3        0       0      0           0         1      0
4        1       0      0           0         0      0
5        0       0      0           0         0      1
6        1       0      0           0         0      0
7        0       0      0           0         0      1
8        0       0      0           0         0      1
9        0       0      1           0         0      0
10       0       0      0           0         1      0
11       0       1      0           0         0      0
12       0       1      0           0         0      0
13       0       1      0           0         0      0
14       0       0      1           0         0      0

In [22]:
names.str.join(',')

0                                   B,a,a,h,u,b,a,l,i
1                                 B,r,a,h,m,a,s,t,r,a
2     U,r,i,-, ,T,h,e, ,S,u,r,g,i,c,a,l, ,S,t,r,i,k,e
3                                             D,D,L,J
4                   A,v,e,n,g,e,r, ,-, ,E,n,d,G,a,m,e
5                                           T,e,n,e,t
6                                           M,a,j,o,r
7                             I,n,t,e,r,s,t,e,l,l,e,r
8                                       G,r,a,v,i,t,y
9                                       T,i,t,a,n,i,c
10        Y,e,h, ,J,a,w,a,n,i, ,H,a,i, ,D,e,e,w,a,n,i
11                                    H,o,u,s,e,f,u,l
12                            T,h,e, ,D,i,c,t,a,t,o,r
13                                H,e,r,a, ,P,h,e,r,i
14                                        S,h,o,l,a,y
Name: Name, dtype: object

In [23]:
names.str.split('e').str.join('-')

0                    Baahubali
1                   Brahmastra
2     Uri- Th- Surgical Strik-
3                         DDLJ
4            Av-ng-r - EndGam-
5                        T-n-t
6                        Major
7                 Int-rst-ll-r
8                      Gravity
9                      Titanic
10      Y-h Jawani Hai D--wani
11                    Hous-ful
12                Th- Dictator
13                  H-ra Ph-ri
14                      Sholay
Name: Name, dtype: object

In [27]:
names.str.strip()

0                    Baahubali
1                   Brahmastra
2     Uri- The Surgical Strike
3                         DDLJ
4            Avenger - EndGame
5                        Tenet
6                        Major
7                 Intersteller
8                      Gravity
9                      Titanic
10      Yeh Jawani Hai Deewani
11                    Houseful
12                The Dictator
13                  Hera Pheri
14                      Sholay
Name: Name, dtype: object

In [28]:
movies['Genre'][movies['Name'].str.strip().str.lower()=='intersteller'].values[0]

'SciFi'

* Q7. What is the average duration of each genre?

In [29]:
for Genre in movies['Genre'].unique():
    print(Genre,movies[movies['Genre']==Genre]['Duration'].mean())

Action 152.5
Mystereous 180.0
Romantic 150.0
SciFi 156.66666666666666
Drama 165.0
Comedy 136.66666666666666

In [33]:
movies.groupby(['Industry','Genre'])['Duration'].mean()

Industry    Genre
Bollywood   Action        130.000000
            Comedy        145.000000
            Drama         150.000000
            Mystereous    180.000000
            Romantic      150.000000
Hollywood   Action        180.000000
            Drama         180.000000
            SciFi         156.666667
Hollywood   Comedy        120.000000
Tollywood   Action        170.000000
Name: Duration, dtype: float64

In [34]:
movies.describe()

              ID    Duration     Rating
count  15.000000   15.000000  15.000000
mean    8.000000  153.333333   7.833333
std     4.472136   22.253946   1.718249
min     1.000000  120.000000   5.000000
25%     4.500000  140.000000   6.500000
50%     8.000000  150.000000   8.500000
75%    11.500000  175.000000   9.000000
max    15.000000  190.000000  10.000000

In [40]:
#movies.drop(['ID'],axis=1,inplace=True)

In [38]:
movies.describe()

         Duration     Rating
count   15.000000  15.000000
mean   153.333333   7.833333
std     22.253946   1.718249
min    120.000000   5.000000
25%    140.000000   6.500000
50%    150.000000   8.500000
75%    175.000000   9.000000
max    190.000000  10.000000

In [41]:
movies.describe(include='all')

             Name   Industry   Genre Language    Duration     Rating
count          15         15      15       15   15.000000  15.000000
unique         15          4       6        4         NaN        NaN
top     Baahubali  Bollywood  Action    Hindi         NaN        NaN
freq            1          8       4        7         NaN        NaN
mean          NaN        NaN     NaN      NaN  153.333333   7.833333
std           NaN        NaN     NaN      NaN   22.253946   1.718249
min           NaN        NaN     NaN      NaN  120.000000   5.000000
25%           NaN        NaN     NaN      NaN  140.000000   6.500000
50%           NaN        NaN     NaN      NaN  150.000000   8.500000
75%           NaN        NaN     NaN      NaN  175.000000   9.000000
max           NaN        NaN     NaN      NaN  190.000000  10.000000

In [44]:
movies.groupby(['Industry','Genre']).describe().T

Industry         Bollywood                                            \
Genre               Action      Comedy  Drama Mystereous    Romantic
Duration count    2.000000    2.000000    1.0        1.0    2.000000
         mean   130.000000  145.000000  150.0      180.0  150.000000
         std     14.142136    7.071068    NaN        NaN    0.000000
         min    120.000000  140.000000  150.0      180.0  150.000000
         25%    125.000000  142.500000  150.0      180.0  150.000000
         50%    130.000000  145.000000  150.0      180.0  150.000000
         75%    135.000000  147.500000  150.0      180.0  150.000000
         max    140.000000  150.000000  150.0      180.0  150.000000
Rating   count    2.000000    2.000000    1.0        1.0    2.000000
         mean     9.000000    7.500000    8.5        5.0    7.500000
         std      1.414214    2.121320    NaN        NaN    3.535534
         min      8.000000    6.000000    8.5        5.0    5.000000
         25%      8.500000    6.750000    8.5        5.0    6.250000
         50%      9.000000    7.500000    8.5        5.0    7.500000
         75%      9.500000    8.250000    8.5        5.0    8.750000
         max     10.000000    9.000000    8.5        5.0   10.000000

Industry       Hollywood                    Hollywood  Tollywood
Genre             Action  Drama       SciFi     Comedy    Action
Duration count       1.0    1.0    3.000000        1.0       1.0
         mean      180.0  180.0  156.666667      120.0     170.0
         std         NaN    NaN   30.550505        NaN       NaN
         min       180.0  180.0  130.000000      120.0     170.0
         25%       180.0  180.0  140.000000      120.0     170.0
         50%       180.0  180.0  150.000000      120.0     170.0
         75%       180.0  180.0  170.000000      120.0     170.0
         max       180.0  180.0  190.000000      120.0     170.0
Rating   count       1.0    1.0    3.000000        1.0       1.0
         mean        9.0    9.0    7.166667        7.0       9.5
         std         NaN    NaN    1.258306        NaN       NaN
         min         9.0    9.0    6.000000        7.0       9.5
         25%         9.0    9.0    6.500000        7.0       9.5
         50%         9.0    9.0    7.000000        7.0       9.5
         75%         9.0    9.0    7.750000        7.0       9.5
         max         9.0    9.0    8.500000        7.0       9.5

* Q8. What is the average rating of each industry?

In [46]:
movies.groupby('Industry')['Rating'].mean()

Industry
Bollywood     7.6875
Hollywood     7.9000
Hollywood     7.0000
Tollywood     9.5000
Name: Rating, dtype: float64

* Q9. Average rating of romantic movies industry wise

In [48]:
movies[movies['Genre'].str.lower()=='romantic'].groupby('Industry')['Rating'].mean()

Industry
Bollywood    7.5
Name: Rating, dtype: float64

* Q10. List down all the english movies with thier respective ratings in decending order?

In [51]:
movies[movies['Language'].str.lower()=='english'][['Name','Rating']].sort_values(by='Rating',ascending=False)

                 Name  Rating
4   Avenger - EndGame     9.0
9             Titanic     9.0
5               Tenet     8.5
7        Intersteller     7.0
12       The Dictator     7.0
8             Gravity     6.0